/*
USTAWIENIA BODY
*/
$tlo: rgba(10,5,17,0.4);//KOLOR TŁA
$PAD: 0 15px;//PADDING
$MAR: 6px;//MARGINESY
$color-text: rgb(255,255,255);//KOLOR TEKSTU

/*
USTAWIENIA HOVER NA LINK (SKRÓT-hover)
*/
$color-hover: rgb(0,0,0);

/*
USTAWIENIA DIVY MINIATURY (SKRÓT-dm)
*/
$mar-dm: 6px;//MARGINESY
$pad-dm: 5px;//PADDING
$fsize-dm: 11px;//ROZMIAR CZCIONKI
/*
USTAWIENIA LEFT_SIDE (SKRÓT-ls)
*/
$mar-ls: 6px;//MARGINESY
$pad-ls: 5px;//PADDING
$fsize-ls: 16px;//ROZMIAR CZCIONKI
/*
USTAWIENIA RIGHT_SIDE (SKRÓT-rs)
*/
$mar-rs: 6px;//MARGINESY
$pad-rs: 5px;//PADDING
$fsize-rs: 13px;//ROZMIAR CZCIONKI
/*
USTAWIENIA MAIN_CONTENT (SKRÓT-mc)
*/
$mar-mc: 6px;//MARGINESY
$pad-mc: 5px;//PADDING
$fsize-mc: 16px;//ROZMIAR CZCIONKI
